.dashboard {
  width: 76px;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(214, 214, 214, 0.8);
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.dashboard-item{
  margin:15px 0px;
}

