.dashboard-page{
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
}


.main{
  width: 100%;
}

.chart{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #F6F6F6;
  padding: 20px;
}

.main-progress{
  padding: 20px 50px;
  
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #F6F6F6;
}