
.progress-line__outer {
  display: flex;
  margin: 15px auto;
}
.progress{
  background: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07);
border-radius: 12px;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: flex-end;
width: 621px;
}

.progress-span{
  display: flex;
  justify-content: space-between;
  /* width: 20px; */
  align-items: center;
}
.progress-bar{
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-direction: column;
}

.progress-blok{
  width: 300px;
  display: flex
  ;
  padding-top: 8px;
  /* justify-content: flex-start; */
  align-items: center;
}
.progress-precent{
  margin-top: 8px;
  margin-right:8px;
  font-weight: 700;
}

.progress-span p:nth-child(2){
  font-size: 14px;
line-height: 17px;
text-align: right;
color: #808080;
}

progress{
  /* background-color: red; */
  color: yellow;
}